/Notes/Forensics/Phishing/disk.raw
/Notes/Forensics/Phishing/Windows-disk001.vmdk
/Notes/Network/user name/file-6.pcapng
/Notes/Network/binary/file-8.pcapng
/Notes/Network/key to execution/file-5.pcapng
/Notes/Network/key to execution/filtered_http_with_params.pcapng
